{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'header.css' %}" />
  </head>
  <body>
    <header class="navbar">
      {% if user.is_authenticated %}
      <div class="navbar-links">
        <!-- Dropdown for Posts -->
        <div class="dropdown">
          <button class="dropbtn">Posts</button>
          <div class="dropdown-content">
            <a href="{% url 'posts' %}">View Posts</a>
            <a href="{% url 'add_post' %}">Add Post</a>
          </div>
        </div>
        <!-- Dropdown for Files -->
        <div class="dropdown">
          <button class="dropbtn">Files</button>
          <div class="dropdown-content">
            <a href="{% url 'view_files' %}">View Files</a>
            <a href="{% url 'upload' %}">Upload File</a>
          </div>
        </div>
        <form method="post" action="{% url 'logout' %}" class="logout-form">
          {% csrf_token %}
          <button type="submit" class="nav-button logout-button">Logout</button>
        </form>
      </div>
      {% else %}
      <div class="navbar-links">
        <a href="{% url 'login' %}" class="nav-link login-link">Login</a>
        <span class="separator">|</span>
        <a href="{% url 'signup' %}" class="nav-link signup-link">Sign Up</a>
      </div>
      {% endif %}
    </header>
  </body>
</html>
