{% load static %}
<!DOCTYPE html>
<html>
    {% include 'header.html' %}
<head>
    <title>Uploaded Files</title>
    <link rel="stylesheet" href="{% static 'upload.css' %}" />
</head>
<body>
    {% if user.is_authenticated %}
    <h1>Uploaded Files</h1>
        {% if uploaded_files %}
        <a href="{% url 'upload' %}" class="back-button">Go back</a>
            <ul>
                {% for file_name in uploaded_files %}
                    <li><a href="{{ MEDIA_URL }}{{ file_name }}">{{ file_name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <a href="{% url 'upload' %}"><p>No uploaded files.</p>.</a>
        {% endif %}
    {% else %}
        <p>You need to <a href="{% url 'login' %}" class="have-account-link">login</a>.</p>
    {% endif %}
</body>
</html>